header{
  padding: 20px 0px;
  .navbar{
    background: var(--primary-light);
    padding: 20px;
    border-radius: 10px;
    border: none;
    // box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.2);
  }
}

.hero-slider{
  .carousel-inner{
    border-radius: 10px;
  }
  margin-bottom: 20px;
}