/*===========================
  COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font: "Poppins", sans-serif;
  --body-color: #dff3ff;
  --heading-color: #212b36;
  --text-color: #161c22;
  --primary-color: #319BFD;
  --primary-light: #a9d6ff;
  --secondary-color: #3BCB93;
  --white: #ffffff;
  --offwhite: #D5DDF6;
  --background: #daffe4;
  --footer-hover: #ffe600;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
button,
input,
textarea {
  -webkit-transition: .4s;
  transition: .4s;
}

a,
a:focus,
input:focus,
textarea:focus,
button:focus,
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  -webkit-transition: .4s;
  transition: .4s;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--heading-color);
  margin: 0px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--text-color);
  margin: 0px;
}

.btn-success {
  background: #39CA93;
  border: none;
  border-radius: 3px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 5px;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
  border: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  font-size: 14px;
}

.dropdown-item.active, .dropdown-item:active {
  background: var(--secondary-color);
}

header {
  padding: 20px 0px;
}

header .navbar {
  background: #002649;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

header .navbar .navbar-brand {
  color: white;
}

header .navbar .nav-link {
  color: white;
}

header .navbar .nav-link.active {
  color: var(--secondary-color);
}

header .navbar .nav-link:hover {
  color: var(--secondary-color);
}

.hero-slider {
  margin-bottom: 20px;
}

.hero-slider .carousel-inner {
  border-radius: 10px;
}

.menu-box {
  margin: 20px 0px;
}

.menu-box .menu-box-wrapper {
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.menu-box .menu-box-wrapper a {
  width: 100%;
}

.menu-box .menu-box-wrapper a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu-box .menu-box-wrapper .media {
  border: 1px solid rgba(199, 199, 199, 0.37);
  border-radius: 10px;
}

.menu-box .menu-box-wrapper .media .media-body {
  padding: 10px;
}

.menu-box .menu-box-wrapper .media .media-body img {
  width: 50px;
  height: 50px;
}

.featured-items {
  margin-bottom: 20px;
}

.featured-items .featured-item-wrapper {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 20px 20px;
}

.featured-items .featured-item-wrapper .section-title {
  font-size: 24px;
  font-weight: 600;
}

.featured-items .single-item {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.featured-items .single-item:last-child {
  border-bottom: none;
}

.featured-items .single-item .item-left .group-info {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(218, 218, 218, 0.37);
}

.featured-items .single-item .item-left .group-info h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
}

.featured-items .single-item .item-left .group-info h3 {
  color: #009900;
  font-weight: 600;
  font-size: 18px;
}

.featured-items .single-item .item-left .group-info p {
  margin-bottom: 0;
  font-weight: 500;
}

.featured-items .single-item .item-right {
  height: 100%;
  position: relative;
}

.featured-items .single-item .item-right h2 {
  font-size: 24px;
  font-weight: 600;
}

.featured-items .single-item .item-right a {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

.featured-items .single-item .right-image {
  height: 100%;
}

.featured-items .single-item .right-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

.popular-items {
  margin-bottom: 20px;
}

.popular-items .item-list {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 20px 20px;
}

.popular-items .item-list .section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.popular-items .single-item-list {
  padding: 15px 10px;
  border-top: 1px solid #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.popular-items .single-item-list .group-info h4 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.popular-items .single-item-list .group-info h3 {
  color: #009900;
  font-weight: 600;
  font-size: 18px;
}

.popular-items .single-item-list .group-info p {
  margin-bottom: 0;
  font-weight: 500;
}

.popular-items .single-item-list .item-name h2 {
  font-size: 16px;
  font-weight: 600;
}

.popular-items .single-item-list .btn-wrapper {
  text-align: right;
}

.popular-items .single-item-list .btn-wrapper .btn {
  font-size: 14px;
}

.popular-items .single-item-list:hover {
  background: #f4fcff;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    border-color: white;
    padding: 5px 7px;
  }
  .navbar-toggler span {
    font-size: 20px;
    color: white;
  }
  .featured-items .single-item .item-right {
    margin: 20px 0px;
  }
  .featured-items .single-item .item-right a {
    position: relative;
    margin-top: 20px;
  }
  .right-image {
    padding: 20px 0px;
  }
  .menu-box .menu-box-wrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {
  .popular-items .single-item-list {
    padding: 15px 0px;
  }
  .popular-items .single-item-list .btn-wrapper {
    text-align: left;
    width: 100%;
  }
  .popular-items .single-item-list .btn-wrapper a {
    display: block;
    border-radius: 3px;
  }
  .item-name {
    margin: 15px 0px;
  }
  .menu-box .menu-box-wrapper {
    padding: 20px;
  }
  .menu-box .menu-box-wrapper .col-3 {
    padding: 0px 5px;
  }
  .menu-box .menu-box-wrapper .media {
    border: 1px solid rgba(199, 199, 199, 0.37);
    border-radius: 10px;
  }
  .menu-box .menu-box-wrapper .media .media-body {
    padding: 10px;
  }
  .menu-box .menu-box-wrapper .media .media-body img {
    width: 40px;
    height: 40px;
  }
  .menu-box .menu-box-wrapper .media .media-body .small {
    font-size: 12px;
  }
  .featured-items .featured-item-wrapper .section-title {
    font-size: 18px;
  }
  .featured-items .single-item {
    padding: 0px 0px;
    margin-bottom: 20px;
  }
  .featured-items .single-item .item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .featured-items .single-item .item-left .group-info {
    padding: 10px;
  }
  .featured-items .single-item .item-left .group-info h4 {
    font-size: 11px;
  }
  .featured-items .single-item .item-left .group-info h3 {
    color: #009900;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .featured-items .single-item .item-left .group-info p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
  }
  .featured-items .single-item .item-right {
    height: 100%;
    position: relative;
  }
  .featured-items .single-item .item-right h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .featured-items .single-item .item-right p {
    font-size: 14px;
    line-height: 20px;
  }
  .featured-items .single-item .item-right a {
    position: relative;
    width: 100%;
    padding: 5px;
  }
  .popular-items .item-list .section-title {
    font-size: 18px;
  }
  .popular-items .single-item-list {
    padding: 15px 0px;
  }
  .popular-items .single-item-list .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popular-items .single-item-list .group-info h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .popular-items .single-item-list .group-info h3 {
    color: #009900;
    font-weight: 600;
    font-size: 14px;
  }
  .popular-items .single-item-list .group-info p {
    margin-bottom: 0;
    font-weight: 500;
  }
  .popular-items .single-item-list .item-name h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
  }
  .popular-items .single-item-list .btn-wrapper {
    text-align: right;
  }
  .popular-items .single-item-list .btn-wrapper .btn {
    font-size: 14px;
  }
  .popular-items .single-item-list:hover {
    background: #f4fcff;
  }
}

.footer-wrapper {
  margin: 20px 0px;
  background: #002649;
  padding: 40px 20px;
  border-radius: 10px;
}

.footer-wrapper .brand a {
  font-size: 28px;
  color: white;
}

.footer-wrapper .widget .widget-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.footer-wrapper .widget .footer-menu li {
  margin-bottom: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  color: lightgray;
  font-size: 14px;
}

.footer-wrapper .widget .footer-menu li a {
  color: lightgray;
  font-size: 14px;
}

.footer-wrapper .widget .footer-menu li a:hover {
  padding-left: 5px;
  color: var(--secondary-color);
}

@media screen and (max-width: 425px) {
  .widget .widget-title {
    margin: 20px 0px;
  }
}

.wealth-popular-items {
  margin-bottom: 20px;
}

.wealth-popular-items .item-list {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 20px 20px;
}

.wealth-popular-items .item-list .section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.wealth-popular-items .single-item-list {
  padding: 15px 10px;
  border-top: 1px solid #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.wealth-popular-items .single-item-list .group-info h4 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.wealth-popular-items .single-item-list .group-info h3 {
  color: #009900;
  font-weight: 600;
  font-size: 18px;
}

.wealth-popular-items .single-item-list .group-info p {
  margin-bottom: 0;
  font-weight: 500;
}

.wealth-popular-items .single-item-list .item-name h2 {
  font-size: 16px;
  font-weight: 600;
}

.wealth-popular-items .single-item-list .btn-wrapper {
  text-align: left;
}

.wealth-popular-items .single-item-list .btn-wrapper .btn {
  font-size: 14px;
}

.wealth-popular-items .single-item-list:hover {
  background: #f4fcff;
}

.wealth-popular-items .single-item-list .progress-wrapper {
  margin: 10px 0px;
}

.wealth-popular-items .single-item-list .progress-wrapper p {
  font-size: 13px;
}

.wealth-popular-items .single-item-list .progress-wrapper .progress {
  height: 4px;
  overflow: visible;
}

.wealth-popular-items .single-item-list .progress-wrapper .progress .progress-bar {
  position: relative;
  overflow: visible;
  background: #009900;
}

.wealth-popular-items .single-item-list .progress-wrapper .progress .progress-bar .progress-number {
  position: absolute;
  right: 0px;
  top: -7px;
  z-index: 1;
  width: 50px;
  padding: 1px;
  border-radius: 50px;
  background: #009900;
  font-size: 10px;
}

@media screen and (max-width: 425px) {
  .wealth-popular-items .item-list .section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .wealth-popular-items .single-item-list {
    padding: 15px 0px;
  }
  .wealth-popular-items .single-item-list .group-info {
    padding: 10px;
    background: rgba(218, 218, 218, 0.37);
    height: 100%;
    border-radius: 5px;
  }
  .wealth-popular-items .single-item-list .group-info h4 {
    font-size: 12px;
  }
  .wealth-popular-items .single-item-list .group-info h3 {
    color: #009900;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .wealth-popular-items .single-item-list .group-info p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
  }
  .income-details {
    height: 100%;
  }
  .wealth-popular-items .single-item-list .btn-wrapper {
    text-align: left;
    width: 100%;
    margin-top: 10px;
  }
  .wealth-popular-items .single-item-list .btn-wrapper a {
    display: block;
    border-radius: 3px;
  }
  .item-name {
    margin: 15px 0px;
  }
  .progress {
    margin: 10px 0px 20px;
  }
  .item-list .col-4 {
    padding: 0px 5px;
  }
}

.activity-wrapper {
  margin: 20px 0px 40px;
}

.activity-wrapper .card {
  border: none;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

.activity-wrapper .card .card-header {
  border: none;
  overflow: hidden;
}

.activity-wrapper .card .card-header img {
  -webkit-transition: .4s;
  transition: .4s;
}

.activity-wrapper .card .card-body h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  -webkit-transition: .4s;
  transition: .4s;
}

.activity-wrapper .card .card-body h4:hover {
  color: var(--secondary-color);
}

.activity-wrapper .card .card-footer {
  border-top: 1px solid #e4e4e4;
}

.activity-wrapper .card .card-footer p {
  font-size: 13px;
}

.activity-wrapper .card:hover .card-header img {
  -webkit-transform: scale(1.3) rotate(10deg);
          transform: scale(1.3) rotate(10deg);
}

.profile .card {
  border-radius: 10px;
  border: 1px solid #e4e4e4;
}

.profile .rounded-top {
  background: url(../images/profile-cover.jpg) no-repeat center top;
  height: 200px;
}

.profile .rounded-top img {
  width: 150px;
  z-index: 1;
  margin: 40px 0px 20px;
}

.profile .rounded-top button {
  z-index: 1;
}

.profile .rounded-top .profile-name {
  margin-top: 130px;
}

.profile .rounded-top .profile-name h5, .profile .rounded-top .profile-name p {
  color: white;
}

.profile .rounded-top .profile-name h5 {
  font-size: 24px;
  font-weight: 600;
}

.profile .asset-details {
  background-color: #f8f9fa;
}

.profile .asset-details .total-asset {
  border-right: 1px solid #c5c5c5;
}

.profile .card-body {
  margin-top: 20px;
}

.profile .card-body .balance-status a {
  border: 1px solid #e9e9e9;
  display: block;
  height: 120px;
  padding-top: 30px;
  border-radius: 10px;
}

.profile .card-body .balance-status a img {
  width: 40px;
  -webkit-transition: .4s;
  transition: .4s;
}

.profile .card-body .balance-status a p {
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.profile .card-body .balance-status a:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.2);
          box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.2);
}

.profile .card-body .balance-status a:hover img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.profile .card-body .balance-status a:hover p {
  color: var(--secondary-color);
}

@media screen and (max-width: 425px) {
  .profile .col-4 {
    padding: 0px 5px;
  }
  .profile .recharge-btn {
    display: none;
  }
  .profile .rounded-top {
    height: 150px;
  }
  .profile .rounded-top img {
    width: 100px;
    z-index: 1;
    margin: 30px 0px 30px 30px;
  }
  .profile .rounded-top .profile-name {
    margin-top: 50px;
  }
  .profile .card-body {
    margin-top: 20px;
  }
  .profile .card-body .balance-status a {
    padding: 30px 10px 0px;
  }
  .profile .card-body .balance-status a img {
    width: 25px;
  }
  .profile .card-body .balance-status a p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
}

main {
  margin: 30px 0px;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper .form-inner {
  width: 45%;
  margin: 0px auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
}

.form-wrapper .form-top {
  background: url(../images/register-bg.jpg) no-repeat center center;
  padding: 50px 30px;
  position: relative;
}

.form-wrapper .form-top::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #002649bb;
}

.form-wrapper .form-top h2 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-weight: 600;
}

.form-wrapper form {
  padding: 30px 50px;
}

.form-wrapper form label {
  font-size: 14px;
}

.form-wrapper form .form-control {
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 15px;
}

.form-wrapper form .form-control:focus {
  border-color: var(--secondary-color);
}

.form-wrapper form .form-control:focus::-webkit-input-placeholder {
  font-size: 14px;
  opacity: 0;
}

.form-wrapper form .form-control:focus:-ms-input-placeholder {
  font-size: 14px;
  opacity: 0;
}

.form-wrapper form .form-control:focus::-ms-input-placeholder {
  font-size: 14px;
  opacity: 0;
}

.form-wrapper form .form-control:focus::placeholder {
  font-size: 14px;
  opacity: 0;
}

.form-wrapper form .form-control::-webkit-input-placeholder {
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-wrapper form .form-control:-ms-input-placeholder {
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-wrapper form .form-control::-ms-input-placeholder {
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-wrapper form .form-control::placeholder {
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-wrapper form button {
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 10px 15px;
  font-size: 14px;
}

.form-wrapper .form-bottom {
  padding: 20px;
  background: #002649;
}

.form-wrapper .form-bottom p {
  color: white;
}

.form-wrapper .form-bottom a {
  color: var(--secondary-color);
}
/*# sourceMappingURL=style.css.map */